:root {
    /*colors*/
    --blue: #006699;
    --white: #ffffff;
    --red: #cc0000;
    --black: black;
    --aqua: #009999;
    /*colors*/

}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/tt_font.otf);
}

@font-face {
    font-family: madeFutureXHeader;
    src: url(../fonts/MADE_Future_X_HEADER_Regular.otf);
}

@font-face {
    font-family: gothamBold;
    src: url(../fonts/GOTHAM_Family/Gotham-Bold/Gotham-Bold.otf);
}

@font-face {
    font-family: gothamBook;
    src: url(../fonts/GOTHAM_Family/Gotham-Book/Gotham-Book.otf);
}

@font-face {
    font-family: gothamLight;
    src: url(../fonts/GOTHAM_Family/Gotham-Light/Gotham-Light.otf);
}

@font-face {
    font-family: gothamBoldItalic;
    src: url(../fonts/GOTHAM_Family/Gotham-Bold-Italic/Gotham-BoldItalic.otf);
}


*:not(.fa) {
    font-family: gothamBook !important;
}

.back-red {
    background-color: var(--red);
}
