.content-menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}

.menu-item {
    cursor: pointer;
}

.menu-item {
    left: -100%;
    position: relative;
}

    .menu-item:hover, .menu-item *:hover {
        font-family: gothamBold !important;
    }

    .menu-item.selected, .menu-item.selected * {
        font-family: gothamBold !important;
    }

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.menu-item-arrow {
    position: absolute;
    left: -50%;
    align-self: center;
    width: 30px;
}

.content-menu-display {
    position: relative;
}

    .content-menu-display > * {
        color: var(--text-color, var(--black));
    }

.content-right .content-menu-display > * {
    color: var(--white);
}

@media screen and (min-width: 1000px) {
    .content-menu .content-menu-display {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --menu-color: var(--black);
        --menu-main-color: var(--black);
        --menu-back-color: var(--black);
        --menu-second-color: var(--black);
    }

    .content-menu .content-menu-display {
        display: block;
    }

    .content-menu .content-menu-display:last-child {
        margin-bottom: calc(6% + 50px);
    }

    .content-menu-display > * {
        margin-bottom: 15px;
    }

    .content-right{
        display: none;
    }

    .content-menu-display{
        display: block !important;
    }
}

/* RIGHT */
.content-right .content-menu-display:not(:first-child) {
    position: relative;
    right: -150%;
}

.content-right .content-menu-display:first-child {
    position: relative;
    right: 0;
}

.content-right .content-menu-display {
    margin-top: 100px;
}

@keyframes display{
    from {
        right: -150%;
    }

    to {
    right: 0;
    }
}

/* FOOTER */
.content-bottom .content-menu-display {
    position: relative;
    right: -100%;
}

.content-bottom .animated.content-menu-display {
    right: 0;
    transition: right ease-out 1.5s;
}

.content-bottom .content-menu-display > * {
    position: relative;
    left: 150%;
    color: var(--white);
    margin-bottom: 2vw;
    font-size: 1vw
}

.content-bottom .animated.content-menu-display > * {
    left: 0;
    transition: left ease-out 1.5s;
}