
.content-left .title, .content-left .sub-title {
    place-self: start;
    position: relative;
    left: -200%;
}

.content-left .title-container {
    display: grid;
    place-content: start;
}

.content-left > :nth-child(1) {
    /*padding-left: 1vw;*/
}

.content-right {
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 1fr;
}

.content-right {
    background-color: var(--content-right-back-color, var(--red));
    position: relative;
    display: grid;
    grid-area: contentright;
    grid-template-areas:
        ". contentrightcontent .";
    z-index: 1;
}

/*.animated.content-right {
    right: 0;
    transition: right ease-out 1s;
}*/

.content-right-content {
    grid-area: contentrightcontent;
    display: grid;
    color:var(--white);
    width:100%;
    max-width: 600px;
}

.container-two-side-content {
    grid-area: twosidecontent;
    display: grid;
    align-self: stretch;
}

@media screen and (min-width: 1000px) {
    div.container-two-side {
        padding: 0;
        height: 100%;
        width: 100%;
        display: grid;
        align-self: stretch;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 100px 1fr 50px;
        grid-template-areas:
            ". ."
            "twosidecontent contentright"
            "twosidecontent contentright";
    }

    .container-two-side-content {
        width: 100%;
        max-width: 600px;
        justify-self: end;
        grid-template-columns: 20px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". contentleft";
    }

    div.content-left {
        align-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .container-two-side-content {
        grid-template-rows: 110px 1fr;
        grid-template-columns: 20px 1fr;
        grid-template-areas:
            ". ."
            ". contentleft";
    }

    div.content-left {
        align-content: normal;
        overflow: visible;
    }

    .content-menu .menu-item span {
        font-family: gothamBold !important;
        font-size: 18px;
    }
}

div.content-left {
    grid-area: contentleft;
    justify-content: center;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    z-index: 10;
}

@media screen and (min-height: 700px) {
    .content-right-content, .content-left {
        overflow: hidden;
    }
}

@media screen and (max-height: 700px) {
    .content-right-content, .content-left {
        overflow-y: auto;
        overflow-x: hidden;
    }
}
