header {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "headercontent headerright"
}

.header-right {
    display: grid;
    grid-area: headerright;
    align-content: center;
    grid-template-columns: 1fr 20px;
    grid-template-areas: "headermenu ."
}

.menu-wrap, .header-menu {
    grid-area: headermenu;
}

@media screen and (min-width: 1000px) {
    logo {
        width: 20%;
        left: 6%;
    }

        logo img {
            width: 200px;
        }

    .header-right {
        background-color: var(--content-right-back-color, var(--red));
    }

    header {
        z-index: unset;
    }

    header {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    header {
        background-color: white;
        z-index: 99;
    }

    logo img {
        width: 130px;
    }

    header {
        width: calc(100% - 6px);
    }
}

.header-menu {
    opacity: 0;
    display: none;
}

@media screen and (max-width: 1300px) {
    .header-menu {
        opacity: 1;
        display: grid;
    }

    .menu-wrap {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .header-menu {
        display: none;
    }

    .menu-wrap {
        opacity: 1;
        display: flex;
        position: relative;
    }
}

logo img{
    z-index: 99;
    cursor: pointer;
}

logo:not(.animated) {
    top: 25px;
}

logo.animated {
    animation: logoDisplay var(--logo-display-duration, 2s) ease-out var(--logo-display-delay, 2s) forwards;
}

@keyframes logoDisplay {
    to {
        top: 50px;
    }
}
/* logo*/

/*header */
header {
    position: absolute;
    height: 100px;
    top: 0;
    display: grid;
    place-items: stretch;
}

header-content {
    grid-area: headercontent;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 1fr;
    grid-template-areas: ". header-left";
    display: grid;
    width: 100%;
    max-width: var(--max-width-content);
    justify-self: end;
}

.header-left {
    grid-area: header-left;
    justify-self: start;
}

.header-right .menu-wrap, .header-left {
    z-index: 9999;
    cursor: pointer;
}

    div.header-logo {
        grid-area: header-logo;
        display: grid;
        grid-template-columns: 0.3fr 0.7fr;
    }

div.header-title {
    grid-area: header-title;
    display: grid;
    place-content: center;
}

div.header-logo img.logo {
    width: 100%;
    position: relative;
}

div.header-menu {
    grid-area: headermenu;
    place-content: end;
}
/*header */
