@import "animations/logo_dot.css";
@import "animations/logo.css";
@import "animations/footer.css";
@import "animations/typing-effect.css";

.logo-move-to-header {
    animation: move 2s ease forwards;
}

@keyframes move {
    to {
        top: 0;
        left: 0;
        z-index: 999;
    }
}

/*.arrow-text {
    position: absolute;
    top: 45%;
    display: grid;
    height: 10%;
    width: 100%;
    place-self: stretch;
    place-content: center;*/
/*    grid-template-columns: 0.4fr 1fr 0.2fr;
    grid-template-areas: ". contenttext .";*/
/*}

.arrow-text-container {
    grid-area: contenttext;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
}

.arrow-text.animated {

}*/
