:root {
    --menu-main-color: var(--white);
    --menu-second-color: var(--white);
    --content-right-back-color: var(--aqua);
    --logo-display-delay: 0s;
    --logo-display-duration: 1s;
    --scrollbar-back-color: #00b3b3;
}

h1 {
    color: var(--aqua);
}

.menu-item {
/*    left: -100%;
    position: relative;*/
}

h3 {
    font-size: 1.5vw;
}

.shall {
    padding: 5px 5px 5px 5%;
    font-style: italic;
}

@media screen and (min-width: 1500px) {
    .content-menu-display[data-display="three"] > * {
        /*font-size: 1vw;*/
    }
}
