::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-back-color, white);
    border-radius: 10px;
    filter: brightness(85%);
}

/*    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }*/
