section.craft-it {
    position: relative;
    overflow: hidden;
    display: grid;
    place-self: stretch;
    place-items: stretch;
    z-index: 10;
}

@media screen and (min-width: 1000px) {
    section.craft-it {
        
    }
}

@media screen and (max-width: 1000px) {
    section.craft-it {
        overflow: auto;
    }
}

    section.craft-it:not(.ignore) {
        height: 100%;
        width: 100%;
    }

.craft-section {
    width: 100%;
    height: 100%;
    min-height: 700px;
}
