@import "constants.css";
@import "section.css";
@import "menu.css";
@import "header.css";
@import "content.css";
@import "content-menu.css";
@import "animations/logo_dot.css";

.craft-it-font {
    font-family: madeFutureXHeader;
}

body {
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
    align-self: stretch;
}

.hide {
    display: none;
}

.colorBlack {
    color: black !important;
}

body, html {
    height: 100%;
    width: 100%;
}

.logo-effect {
    height: 100%;
    /*width: 100%;*/
    width: 80%;
}

button {
    display: inline-block;
    border: 0.5px solid #C00E0E;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    color: var(--white);
    background-color: var(--black);
    color: var(--menu-color,--white);
}

    button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        /*transition: 0.2s;*/
    }

    button.find-out:hover {
        background-color: var(--white);
        color: var(--black);
    }

    button:hover span:after {
        opacity: 1;
        right: 0;
    }

/* link */

.content-left a, .content-left a:focus, .content-left a:hover {
    color: var(--black);
}

a, a:focus, a:hover {
    color: var(--white);
}

.italic {
    font-style: italic;
}
