/* Logo effect */
.content-image {
    position: relative;
    display: grid;
    align-items: center;
    align-content: center;
    background: white;
}

.logo-effect{
    width: 100%; height: 100%
}

.p {
    width:100%;
    height:100%;
    position:absolute;
    display: block;
}
/* letters of CRAFT-IT*/
.a {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 50%, 70% 25%, 70% 0%);
    left: 38%;
    width: 15%;
    top: 30%;
    height: 40%;
    background-color: white;
}

.animated .a {
    animation:a 3s ;
    animation-fill-mode: forwards;
}

.cr {
    height: 70%;
    top: 0;
    width: 38%;
    background: white;
}

.animated .cr {
    animation:cr 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.ft {
    clip-path: polygon(0% 0%, 0% 80%, 5% 88%, 15% 100%, 100% 100%, 100% 0%);
    height: 70%;
    top: 0;
    width: 38%;
    left: 50%;
    background: white;
}

.animated .ft {
    animation:ft 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.it_makes_sense {
    height: 10%;
    top: 80%;
    width: 100%;
    left: 0;
    background: white;
}

.animated .it_makes_sense {
    animation:it_makes_sense 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.red_circle {
    height: 35%;
    top: 20%;
    width: 15%;
    left: 75%;
    background: white;
}

.animated .red_circle{
    animation:red_circle 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes a {
    from {
        background: white;
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes cr {
    from {
        left: 0;
    }

    to{
        left: -100%;
    }
}

@keyframes ft {
    from {
        left: 50%;
    }

    to{
        left: 200%;
    }
}

@keyframes it_makes_sense {
    from {
        top: 80%;
    }

    to{
        top: 90%;
    }
}

@keyframes red_circle {
    from {
        left: 75%;
    }

    to{
        left: 150%;
    }
}
/* Logo effect */