/* Typing effect */
.typewriter{
    grid-area: console;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 150px;
    background-color: #1a1a1a;
    padding: 35px 25px;
}
.typewriter *{
    display: inline-block;
    color: white;
}

.typewriter .message {
    font-family: madeFutureXHeader;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    float: left;
    width: 150px;
    font-size: 1.2vw;
}

:is(.animated, .section-animated) .typewriter .message {
    animation: typing 4.5s steps(78, end) forwards;
    animation-delay: 0.5s;
}

@keyframes typing {
    from { width: 150px; }
    to { width: 100%; }
}

.typewriter .cursor{
    width: 15px;
    height: 1.5vw;
    /* To avoid to display in 2 lines */
    position: absolute;
}
:is(.animated, .section-animated) .typewriter .cursor{
    animation:  blink-caret .75s step-end infinite;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes blink-caret {
    from { border-bottom: .15em solid white; }
    50% { border-color: black; }
    to {border-color: white; }
}
/* Typing effect */