:root {
    --menu-main-color: var(--white);
    --menu-second-color: var(--white);
    --content-right-back-color: var(--blue);
    --logo-display-delay: 0s;
    --logo-display-duration: 1s;
    --scrollbar-back-color: #0077b3;
}

h1.title {
    color: var(--blue);
}

.menu-item {
    left: -100%;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: center;
}

    .button-container button {
        width: 200px;
        border: 1px solid var(--white);
        background: none;
    }

        .button-container button .arrow {
            font-size: 15px;
        }

.container-two-side-content {
    position: relative;
    height: 100%;
}

img.logo {
    z-index: 999;
    position: absolute;
    width: 180px;
    bottom: 5%;
    left: 20px;
    animation: moodysLogo linear 1.5s forwards;
    z-index: 999;
}

@keyframes moodysLogo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    img.logo {
        bottom: 1%;
    }

    .button-container button {
        border: unset;
        color: var(--white);
        background-color: var(--blue);
    }
}
