@import "animations/logo.css";
@import "animations/footer.css";
@import "animations/typing-effect.css";

:root {
    --content-right-back-color: var(--white);
    --menu-color: var(--white);
}

@media only screen and (max-width: 1000px) {
   button {
        border: unset;
        color: var(--black);
        background-color: var(--white);
    }
}

button {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: unset;
}