/* ————————— Contact Page */
.getInTouch {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    bottom: -100vh;
    width: 100%;
    height: 100vh;
    background: linear-gradient(144deg, #FF4135 21.19%, #B30137 98.98%);
    transition: .8s ease;
}
.getInTouch.active{
    bottom: 0vh;
}
.getInTouchContent{
    display: flex;
    width: auto;
    height: auto;
    margin-top: auto;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
}
.getInTouchFooter{
    display: flex;
    width: auto;
    height: 78px;
    padding: var(--spacing-xl, 32px) 0px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    h6{
        color: #1F1C1A;
        font-family: Aspekta;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.28px;
    }
}
.getInTouchMessage h1{
    color: var(--content-primary, #1F1C1A);
    font-family: Aspekta;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: 140px;
    letter-spacing: -2.8px;
}
.getInTouchContacts{
    display: flex;
    width: auto;
    gap: 5vw;
    align-items: center;
    flex-shrink: 0;
    .alignedLinks{
        display: flex;
        align-items: flex-end;
        gap: 4px;
    }
}
.getInTouchContacts h3{
    align-self: stretch;
    color: var(--background-primary, #FFF);
    font-family: Aspekta;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.getInTouchContacts h5{
    color: var(--background-primary, #FFF);
    font-family: Aspekta;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.getInTouchContacts h6{
    color: var(--background-tertiary, #EEE);
    font-family: var(--font-family-body, Aspekta);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--font-weight-regular, 500);
    line-height: 28px;
}

.getInTouchContacts a{
    color: var(--default-palette-default-gray-white, #FFF);
    font-family: Aspekta;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.36px;

}
.contactAddress{
    display: flex;
    height: 224px;
    padding: var(--spacing-lg, 24px) var(--spacing-md, 12px) var(--spacing-lg, 24px) var(--spacing-lg, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg, 24px);
    flex: 1 0 0;
}
.contactMail{
    display: flex;
    height: 224px;
    padding: var(--spacing-lg, 24px) var(--spacing-md, 12px) var(--spacing-lg, 24px) var(--spacing-lg, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg, 24px);
    flex: 1 0 0;
}

h6{
    color: #1F1C1A;
    font-family: 'Aspekta', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.28px;
}