:root{
    --Red-200: #F5EBE7;
    --Red-500: #FF4135;
    --Red-700: #B30137;

    --Grey-25: #F5F4F4; 
    --Grey-200: #EEEEEE; 
    --Grey-700: #44403C; 
    --Grey-900: #1F1C1A;
}

body{
    background-color: var(--Grey-25);
    margin: 0;
}

/* ————————— FONT FACES */
/* Aspekta */
  
  @font-face {
    font-family: "Aspekta";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/Aspekta-200.woff2") format("woff2");
  }
  
  
  @font-face {
    font-family: "Aspekta";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Aspekta-400.woff2") format("woff2");
  }

  
  @font-face {
    font-family: "Aspekta";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Aspekta-600.woff2") format("woff2");
  }
  

  /* ————————— TYPOGRAPHIC STYLE */

h1 a{
    color: var(--Grey-900);
    text-transform: uppercase;

    font-family: 'Aspekta', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

h1 span{
    text-transform: none;

    font-family: 'Aspekta', Arial, sans-serif;
    font-weight: 600;
}

h2{
    color: var(--Grey-900);
    font-family: Aspekta;
    font-size: 6.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 15vh;
    /* line-height: 8.25rem; 113.793% */
    letter-spacing: -0.29rem;
}
h3{
    color: var(--default-palette-default-gray-900, #1F1C1A);
    font-family: Aspekta;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
    letter-spacing: -2.24px; 
}
p{
    color: var(--default-palette-default-gray-700, #44403C);
    font-family: Aspekta;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
/* ————————— NAV */

.header{
    display: flex;
    width: 100vw;
    height: 8.5%;
    flex-direction: row;
    padding: var(--spacing-xl, 32px) 48px;
    align-items: center;
}
.logoMessage{
    display: flex;
    align-items: center;
    gap: 64px;
}
.dotAndText{
    display: flex;
    align-items: flex-end;
    gap: 4px;
}
.logoText{
    color: var(--content-secondary, #292524);
    font-family: aspekta;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
}

main{
    overflow-x: hidden;
    display: flex;
}

section{
    height: 100vh;
    width: 100vw; 
}

/* ————————— CTA */

.call-to-action{
    display: flex;
    padding: 2vh;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 0.625rem;
    width: 12vw;
    border-radius: 0.25rem;
    border: 1px solid var(--Grey-900);

    cursor: pointer;

    font-family: 'Aspekta', Arial, sans-serif;
    text-align: center;
    font-size: 0.8vw;
    color: var(--Grey-900);
    font-weight: 400;
}
.call-to-action:hover{
    background: #FF4135;
    border: none;

    /* Shadows/light-shadow lg */
    box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
}