
div.footer{
    color: white;
    grid-area: footer;
    display: grid;
    background: black;
    grid-template-rows: 0.8fr 5px 0.2fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "sloganleft sloganleft sloganleft"
    "footerseparator footerseparator footerseparator"
    "footerendleft . footerendright";
}

div.footer-slogan-left{
    grid-area: sloganleft;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-column-gap: 10px;
    padding-left: 20px;
}

.footer-slogan-left img{
    float: right;
    height: 100%;
    width: 55%;
}

.dream-stamp, .draft-stamp, .craft-stamp {
    align-self: center;
    justify-self: start;
}

.dream, .draft, .craft{
    place-self: end;
}

.footer-slogan-right > *{
    display: block;
}

div.footer-slogan-left *{
    font-family: madeFutureXHeader;
    font-size: 2vw;
}

div.footer-slogan-left .dream-stamp .dream,
div.footer-slogan-left .draft-stamp .dream,
div.footer-slogan-left .craft-stamp .dream{
    font-size: 1vw;
}

div.footer-slogan-right{
    grid-area: sloganright;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr auto;
}

div.footer-slogan-right .info-content{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(25px, 0.1fr));
}

div.footer-separator{
    grid-area: footerseparator;
    border-bottom: 2px solid gray;
}
div.footer-end-left{
    grid-area: footerendleft;
    place-self: center;
}
div.footer-end-right{
    grid-area: footerendright;
    align-self: center;
    justify-self: end;
}

div.footer-end-right .buttons{
    padding-right: 15px;
}

div.footer-end-right .buttons a{
    color: unset;
    text-decoration: none;
}

div.footer-end-right .buttons i.fa {
    font-size: 20px;
}
