@font-face {
    font-family: 'Aspekta';
    src: url('/resources/fonts/Aspekta-400.woff2') format('woff2');
    /* src: url('/resources/fonts/Aspekta-400.woff') format('woff');
    src: url('/resources/fonts/Aspekta-400.ttf') format('ttf'); */
  }
  

:root{
    --Grey-200: #F0ECE9;
    --Grey-800: #171815; 
}

body,html {
    font-size: 1.4vh;
    margin: 0;
    padding: 0;
    font-family: "Aspekta", Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

    /* TYPOGRAPHY */ 

h1{
    color: #F0ECE9;
    font-family: "Aspekta", Helvetica, sans-serif;
    font-size: 7em;
    font-style: normal;
    font-weight: 400;
    line-height: 8.25rem;
    margin: 0;
}
h2{
    color: #F0ECE9;
    font-family: "Aspekta", Helvetica, sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: 8.25rem;
    margin: 0;
}
h3{
    margin: 0;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

h5{
    margin:0;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
}

h6{
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
}
p{
    color: #F0ECE9;
    font-family: "Aspekta", Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.64px;
    margin: 0;
}

.upperlinks{
    color: var(--Grey-200);
    font-family: "Aspekta", Arial, Helvetica, sans-serif;;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
}

.container{
    overflow-x: hidden;
    /* display: flex; */
}
section{
    height: 100vh;
    width: 100vw;
}

.hero-wrapper{
    height: 100vh;
    width: 100vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Grey-800);
    z-index: 1;
}

.hero-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.hero-top{
    position: fixed;
    left: 0;
    top: 0;
    background: var(--Grey-800);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 97%;
    margin: 0 1.5%;
    a{
        color: var(--Grey-200);
        text-decoration: none;
    }
}
.hero-links{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    gap: 3em;
}
.hero-message{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1; 
    width: 100%;
}
.hero-text-left{
    width: 60%;
}
.hero-text-right{
    width: 30%;
}
.hero-bottom{
    position: fixed;
    bottom: 2em;
    height: 8vh;
    width: 96%;
    z-index: 1;
    overflow: hidden;
    float: left;
    transition: ease-in-out .5s;
}
.hero-bottom.active{
    transition: ease-in-out .5s;
    height: 85vh;
}

.hero-button{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--Grey-200);
    text-transform: uppercase;
    padding: 2em 2em;
    transition: ease-in-out .3s;
    cursor: pointer;
}
.hero-button:hover{
    background: #F0ECE9;
    .button-text{
        color: black;
    }
    .arrow-path{
        stroke: black;
    }
}
.hero-button.active{
    background: #F0ECE9;
    border: 1px solid #F0ECE9;
    .button-text{
        color: black;
    }
    .arrow-path{
        stroke: black;
    }
}
.svg-arrow.active{
    transition: 1s ease-in-out;
    transform: rotate(180deg);
}

.call-to-action{
    height: 77vh;
    width: 100%;
    bottom: 3em;
    left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Grey-200);
    transition: .5s ease-in-out;
    z-index: 1;
}

.cta-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.cta-top-svg{
    cursor: pointer;
}
.cta-mid{
    display: flex;
    height: 100%;
    width: 95%;

}
.cta-mid-content{
    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
}
.cta-mid-message{
    height: 30vh;
}
.cta-mid-contacts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cta-contact-address{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 70%;
    gap: 1em;
    border-bottom:solid 1px rgba(23, 24, 21, 0.10);
}
.cta-address-wrap{
    display: flex;
    justify-content: space-between;
}
.cta-address-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}
.cta-contact-mail{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 70%;
    gap: 1em;
}
.cta-contact-wrap{
    display: flex;
}
.cta-mid-email{
    height: 50%;
    display: flex;
    flex-direction: column;
}
.cta-email-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 50%;
}
.cta-email-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    a{
        color: var(--Grey-800);
        text-decoration: none;
        font-size: 1em;
    }
}

.cta-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#threejs-canvas{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0; 
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 13vw;
        line-height: 8vh;
    }
    h2{
        font-size: 15vw;
        line-height: 7vh;
    }
    h3{
        font-size: 7.5vw;
        line-height: 4vh;
    }
    h5{
        font-size: 4vw;
        line-height: 4vh;
    }
    h6{
        font-size: 3.5vw;
        line-height: 4vh;
    }
    p{
        font-size: 3.5vw;
        line-height: 32px;
        margin-top: 4vh;
    }
    .upperlinks{
        font-size: 3vw;
    }
    .hero-top{
        height: 2vh;
    }
    .hero-message{
        flex-direction: column;
        z-index: 1; 
        height: 50%;
    }
    .hero-text-left{
        width: 100%;
    }
    .hero-text-right{
        width: 100%;
    }
    .cta-mid{
        display: flex;
        height: 75%;
    }
    .cta-mid-message{
        height: 50vh;
    }
    .cta-mid-content{
        margin: 0;
        flex-direction: column;
    }
    .cta-mid-contacts {
        height: 60vh;
        width: 100%;
    }
    .cta-contact-address {
        width: 100%;
    }
    .cta-address-right{
        gap: 0;
    }
    .cta-contact-mail {
        width: 100%;
    }
    .cta-email-right{
        gap: 0;
        a{
            font-size: 3.5vw;
            line-height: 4vh;
        }
    }
    .cta-email-left {
        gap: 0;

    }
}
.msg-window{
    height: 100vh;
    width: 100vw;
    background: var(--Grey-800);
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg-wrapper{
    width: 80%;
}