@font-face {
    font-family: 'Aspekta';
    src: url('/resources/fonts/Aspekta-400.woff2') format('woff2');
    /* src: url('/resources/fonts/Aspekta-400.woff') format('woff');
    src: url('/resources/fonts/Aspekta-400.ttf') format('ttf'); */
  }
  

:root{
    --Grey-200: #F0ECE9;
    --Grey-800: #171815; 
}

body,html {
    font-size: 1.4vh;
    margin: 0;
    padding: 0;
    font-family: "Aspekta", Helvetica, sans-serif;
    background-color: var(--Grey-800);
}

body.no-scroll {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

    /* TYPOGRAPHY */ 

h1{
    color: var(--Grey-200);
    font-family: "Aspekta", Helvetica, sans-serif;
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 7vw;
    margin: 0;
}
h2{
    color: var(--Grey-200);
    font-family: "Aspekta", Helvetica, sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: 8.25rem;
    margin: 0;
}
h3{
    margin: 0;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

h5{
    margin:0;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
}

h6{
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
}
p{
    color: var(--Grey-200);
    font-family: "Aspekta", Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0;
}

.upperlinks{
    color: var(--Grey-200);
    font-family: "Aspekta", Arial, Helvetica, sans-serif;;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
}

    /* STRUCTURE */ 


main{
    position: relative;
    padding: 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    width: 100%;

    position: sticky;
    top: 2rem;
    z-index: 10;

    a{
        color: var(--Grey-200);
        text-decoration: none;
    }
}

    /* HERO */ 

.hero-wrapper{
        height: calc(100vh - 8rem);
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        background-color: var(--Grey-800);
        z-index: 1;
}

.hero-content-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.hero-links{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    gap: 3em;
}
.hero-message{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1; 
    width: 100%;
}
.hero-text-left{
    width: 60%;
}
.hero-text-right{
    width: 30%;
}

    /* CALL TO ACTION */ 


.hero-bottom{
    height: 8vh;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    float: left;
    transition: ease-in-out .5s;
    z-index: 10;
}
.hero-bottom.active{
    transition: ease-in-out .5s;
    height: calc(100vh - 8rem);
    position: absolute;
}

.hero-button{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--Grey-200);
    text-transform: uppercase;
    padding: 2rem;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.hero-button:hover{
    background: var(--Grey-200);

    .button-text{
        color: var(--Grey-800);
    }
    .arrow-path{
        stroke: var(--Grey-800);
    }
}
.hero-button.active{
    background: var(--Grey-200);
    border: 1px solid var(--Grey-200);

    .button-text{
        color: var(--Grey-800);
    }
    .arrow-path{
        stroke: var(--Grey-800);
    }
}
.svg-arrow.active{
    transition: 0.3s ease-in-out;
    transform: rotate(180deg);
}

.call-to-action{
    height: calc(92vh - 8rem);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--Grey-200);
    transition: .3s ease-in-out;
    flex-wrap: nowrap;
}

.cta-copy{
    color: var(--Grey-800);
    text-decoration: none;
    font-size: 1.2rem;
}

.cta-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.cta-top-svg{
    cursor: pointer;
}
.cta-mid{
    display: flex;
    height: 100%;
    width: 100%;

}
.cta-mid-content{
    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
}
.cta-mid-message{
    height: 30vh;
}
.cta-mid-contacts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cta-contact-address{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 70%;
    gap: 1em;
    border-bottom:solid 1px rgba(23, 24, 21, 0.10);
}
.cta-address-wrap{
    display: flex;
    justify-content: space-between;
}
.cta-address-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}
.cta-contact-mail{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 70%;
    gap: 1em;
}
.cta-contact-wrap{
    display: flex;
}
.cta-mid-email{
    height: 50%;
    display: flex;
    flex-direction: column;
}
.cta-email-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 50%;
}
.cta-email-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.cta-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


  /* CUBE */

#threejs-canvas{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0; 
}

@media screen and (max-width: 720px) {
    h1{
        font-size: 13vw;
        line-height: 8vh;
    }
    h2{
        font-size: 15vw;
        line-height: 7vh;
    }
    h3{
        font-size: 7.5vw;
        line-height: 4vh;
    }
    h5{
        font-size: 4vw;
        line-height: 4vh;
    }
    h6{
        font-size: 3.5vw;
        line-height: 4vh;
    }
    p{
        font-size: 3.5vw;
        line-height: 32px;
        margin-top: 4vh;
    }
    .upperlinks{
        font-size: 3vw;
    }
    .hero-top{
        height: 2vh;
    }
    .hero-message{
        flex-direction: column;
        z-index: 1; 
        height: 50%;
    }
    .hero-text-left{
        width: 100%;
    }
    .hero-text-right{
        width: 100%;
    }
    .cta-mid{
        display: flex;
        height: 75%;
    }
    .cta-mid-message{
        height: 50vh;
    }
    .cta-mid-content{
        margin: 0;
        flex-direction: column;
    }
    .cta-mid-contacts {
        height: 60vh;
        width: 100%;
    }
    .cta-contact-address {
        width: 100%;
    }
    .cta-address-right{
        gap: 0;
    }
    .cta-contact-mail {
        width: 100%;
    }
    .cta-email-right{
        gap: 0;
        a{
            font-size: 3.5vw;
            line-height: 4vh;
        }
    }
    .cta-email-left {
        gap: 0;

    }
}


/* NEW PAGES */
.msg-window{
    background: var(--Grey-800);
    display: flex;

}
.msg-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    h2{
        width: 75%;
        font-size: 5em;
        line-height: 1;
    }

}