@font-face {
    font-family: "Aspekta";
    src: url(/resources/fonts/Aspekta-400.woff2), local(/resources/fonts/Aspekta-400.woff2);
}

:root{
    --Grey-200: #F0ECE9;
    --Grey-800: #171815; 
}
h1{
    color: #F0ECE9;
    font-family: "Aspekta", Arial, Helvetica, sans-serif;
    font-size: 7.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 7rem;
    letter-spacing: -0.22rem;
    margin: 0;
}
h3{
    margin: 0;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

h5{
    margin:0;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
}

h6{
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: "Aspekta", Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
main{
    overflow: auto;
    height: 100vh;
}
.hero-wrapper{
    height: 100vh;
    width: 100vw;
    /* padding: 2em 5em 2em 5em; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Grey-800);
    z-index: 1;
}
.hero-top{
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; 
    a{
        color: var(--Grey-200);
        text-decoration: none;
        font-size: 1.3em;
    }
}
.hero-links{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}
.hero-message{
    z-index: 1; 
}

.hero-button{
    width: 100%;
    height: 9.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--Grey-200);
    text-transform: uppercase;
    padding: 0em 2em;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    z-index: 1;
}

.button-text{
    color: var(--Grey-200);
    font-family: "Aspekta";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
}

.call-to-action{
    position: fixed;
    height: 0vh;
    width: 98.3%;
    margin-left: 0.85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    bottom: 1em;
    background-color: var(--Grey-200);
    transition: .5s ease-in-out;
    z-index: 1;
    overflow: hidden;
}
.call-to-action.active{
    height: 90vh;
}

.cta-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.cta-top-svg{
    cursor: pointer;
}
.cta-mid{
    display: flex;
    height: 100%;
    width: 95%;

}
.cta-mid-content{
    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
}
.cta-mid-message{
    height: 30vh;
}
.cta-mid-contacts{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
.cta-contact-address{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    gap: 1em;
}
.cta-address-wrap{
    display: flex;
    justify-content: space-between;
    gap: 8em;
}
.cta-address-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}
.cta-contact-mail{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    gap: 1em;
}
.cta-contact-wrap{
    display: flex;
}
.cta-mid-email{
    height: 50%;
    display: flex;
    flex-direction: column;
}
.cta-email-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 50%;
}
.cta-email-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    a{
        color: var(--Grey-800);
        text-decoration: none;
        font-size: 1em;
    }
}

.cta-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#threejs-canvas{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0; 
}
