@font-face {
	font-family: 'Aspekta';
	src: url('/resources/fonts/Aspekta-400.woff2') format('woff2');
	/* src: url('/resources/fonts/Aspekta-400.woff') format('woff');
    src: url('/resources/fonts/Aspekta-400.ttf') format('ttf'); */
}


:root {
	--Grey-200: #F0ECE9;
	--Grey-400: #E2DFDC;
	--Grey-500: #C0C0C0;
	--Grey-700: #56514c;
	--Grey-800: #171815;
	--craft-Red: #FF4135;
	--gfs: 14.4;
	--sticky-container-wrap-top: 0px;
	--sticky-process-grid-top: 0px;
}

::selection {
	background-color: var(--craft-Red); /* Change this to your desired highlight color */
	color: #171815; /* Change the text color when selected */
}

body, html {
	font-size: 1rem;
	margin: 0;
	padding: 0;
	font-family: "Aspekta", Helvetica, sans-serif;
	background-color: var(--Grey-400);
	overflow-x: unset; /* Don't use 'hidden', otherwise the sticky does not work */
}

main.no-scroll {
	height: 100vh;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.no-scroll {
	overflow: hidden;
}


/* -------------- SCROLL EFFECT */


.scroll-fade span {
	display: inline-block;
	opacity: 0;
	transform: translateY(20px);
}


/* -------------- TYPOGRAPHY */

h1 {
	color: var(--Grey-800);
	font-family: "Aspekta", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(3rem, 10vw, 14rem);
	line-height: 1;
	margin: 0;
}

h2 {
	color: var(--Grey-800);
	font-family: "Aspekta", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(4.5rem, 5vw, 5.75rem);
	line-height: 1.2;
	margin: 0;
}

h3 {
	color: var(--Grey-800);
	font-family: "Aspekta", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(1.8rem, 2.4vw, 2.4rem);
	line-height: 1.2;
	margin: 0;
}

h4 {
	color: var(--Grey-800);
	font-family: "Aspekta", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(1.25rem, 1.125vw, 1.5rem);
	line-height: 1.4;
	margin: 0;
}

p {
	color: var(--Grey-700);
	font-family: "Aspekta", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(1rem, 1.125vw, 1.125rem);
	line-height: 1.6;
	margin: 0;
}

.p-sm {
	font-size: clamp(0.875rem, 0.875vw, 1rem);
}

.cta-copy {
	color: var(--Grey-200);
	text-decoration: none;
	font-size: clamp(1rem, 1.125vw, 1.5rem);
	line-height: 1.4;
	text-align: right;
}

.anotation {
	color: var(--Grey-700);
	font-family: "Aspekta", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(0.875rem, 0.875vw, 1rem);
	letter-spacing: 0.125rem;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}

.upperlinks {
	color: var(--Grey-800);
	font-family: "Aspekta", Arial, Helvetica, sans-serif;
	;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(0.875rem, 0.875vw, 1rem);
	line-height: 1;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}

.msg-wrapper p {
	font-size: clamp(2.5rem, 4vw, 5rem);
	line-height: 1.2;
	color: var(--Grey-800);
	text-shadow: var(--Grey-200) 10px 0 30px, var(--Grey-200) 10px 0 30px, var(--Grey-200) 10px 0 30px;
}

.services_item_content_wrapper h4 {
	color: var(--Grey-800);
}



.model-anotation {
	color: var(--Grey-800);
	font-family: "Aspekta", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(9rem, 10vw, 14rem);
	line-height: 1;
	margin: 0;
}

.SquareIcon {
	width: 8px;
	height: 8px;
	background-color: var(--Grey-800);
}

/* -------------- STRUCTURE */

main {
	position: relative;
	padding: 32px 24px;
	background-color: var(--Grey-200);

	margin: 0 auto;
	z-index: 1;
}

.contain-wrap {
	width: 100%;
	max-width: 2560px;
	margin: 0 auto;
}

/* -------------- GRID */



.site-grid.process-grid
/*, .site-grid.process-grid .process-list
.site-grid.process-grid .outer-box */ {
	position: sticky;
	top: var(--sticky-process-grid-top);
}
/* -------------- LOADER */

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	background-color: transparent;
}

/* Loader Halves */
.loader-half {
	position: absolute;
	width: 100vw;
	height: 50vh;
	background-color: var(--craft-Red); /* Red background */
	transition: all 1s ease-in-out; /* Smooth transition for the animation */
}

/* Top half starts above the center */
.top-half {
	top: 0;
}

/* Bottom half starts below the center */
.bottom-half {
	bottom: 0;
}


/* -------------- TEXT APPARITION ANIMATION */

.disap {
	opacity: 0;
	transform: translateY(5rem);
	transition: opacity 0.8s cubic-bezier(0.25, 1, 0.5, 1), transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

	.disap.visible {
		opacity: 1;
		transform: translateY(0);
	}

/* -------------- HERO */

.hero-wrapper {
	height: calc(100vh - 16rem);
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	background-color: var(--Grey-200);
	z-index: 1;
}

.hero-content-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.hero-links {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	gap: 3em;
}

.hero-message {
	justify-content: space-between;
	align-items: flex-end;
	z-index: 1;
	width: 100%;
	h1

{
	margin-bottom: 40px;
}

}

.hero-word {
	display: inline-block;
}

/* SECONDARY HERO */

#sec-hero{
	align-items: end;
	padding: 1.5rem 1.5rem 3.5rem 1.5rem;
	background: none;

	position: relative;
    overflow: hidden;

	height: calc(100vh - 20rem);

	.contain-wrap{
		align-items: end;
	}

}

.sec-hero-content-wrapper{
	grid-column: 2 / span 6;
}

.ma-partner-alliance{
	grid-column: 10 / span 2;
}

/* CALL TO ACTION */


.hero-bottom {
	height: 5rem;
	overflow: hidden;
	float: left;
	transition: ease-in-out .5s;
	z-index: 10;
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	right: 2rem;
	width: auto;
	background: var(--Grey-200);
}

	.hero-bottom.active {
		transition: ease-in-out .5s;
		height: calc(100vh - 8rem);
	}

.hero-button {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--Grey-500);
	text-transform: uppercase;
	padding: 2rem;
	transition: ease-in-out .3s;
	cursor: pointer;
	position: sticky;
	z-index: 10;
}

.hero-bottom.sticky {
	position: absolute;
	bottom: 2rem;
}

.hero-button:hover {
	background: var(--Grey-800);
	.button-text

{
	color: var(--Grey-200);
}

.arrow-path {
	stroke: var(--Grey-200);
}

}

.hero-button.active {
	background: var(--Grey-800);
	border: 1px solid var(--Grey-700);
	height: 8vh;
	.button-text

{
	color: var(--Grey-200);
}

.arrow-path {
	stroke: var(--Grey-200);
}

}

.svg-arrow.active {
	transition: 0.3s ease-in-out;
	transform: rotate(180deg);
}

.call-to-action {
	height: calc(92vh - 8rem);
	width: 100%;
	padding: 2rem;
	gap: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: var(--Grey-800);
	transition: .3s ease-in-out;
	flex-wrap: nowrap;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.cta-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.cta-top-svg {
	cursor: pointer;
}

.cta-mid {
	display: flex;
	height: 100%;
	width: 100%;
}

.cta-mid-content {
	display: flex;
	margin-top: auto;
	width: 100%;
	justify-content: space-between;
}

.cta-mid-message {
	height: 30vh;
	h2

{
	color: var(--Grey-200);
}

}

.cta-mid-contacts {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cta-contact-info:first-child {
	border-bottom: solid 1px rgba(240, 236, 233, 0.10);
}

.cta-contact-info {
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 100%;
	padding: 2rem;
	gap: 2em;
	h3

{
	color: var(--Grey-200);
}

}

.cta-mid-email {
	height: 50%;
	display: flex;
	flex-direction: column;
}

.cta-contact-wrap {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.contact-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	h4

{
	color: var(--Grey-200);
}

a {
	text-decoration: underline;
}

}

.cta-bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--Grey-200);
}


/* CUBE */

#threejs-canvas {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

#moodys-threejs-canvas {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

/* HOVER EFFECT */

.rolling-hover {
	display: inline-block;
	overflow: hidden;
	height: 1.1em;
}

	.rolling-hover:hover .letter,
	.rolling-hover.play .letter {
		transform: translateY(-100%);
	}

.letter {
	display: inline-block;
	transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.block:last-child {
	color: var(--craft-Red);
}

.letter:nth-child(1) {
	transition-delay: 0s;
}

.letter:nth-child(2) {
	transition-delay: 0.05s;
}

.letter:nth-child(3) {
	transition-delay: 0.1s;
}

.letter:nth-child(4) {
	transition-delay: 0.15s;
}

.letter:nth-child(5) {
	transition-delay: 0.20s;
}

.letter:nth-child(6) {
	transition-delay: 0.25s;
}

.letter:nth-child(7) {
	transition-delay: 0.30s;
}

.letter:nth-child(8) {
	transition-delay: 0.35s;
}

/* NEW PAGES */

.msg-window {
	background: var(--Grey-200);
	display: flex;
	flex-direction: column;
}

	.msg-window.visible {
		opacity: 1;
		transform: translateY(0);
	}

.msg-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

/* ----------- MOODYS */

#moodys {
	display: flex;
	gap: 4rem;
	flex-direction: column;
	padding-top: 0;
	background-color: var(--Grey-200);
	margin-top: 5rem;
	z-index: 4;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-column: 4 / 13;
}

.services_item {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
	padding: 2rem 0rem 4rem 0rem;
	width: 100%;
	border-bottom: 1px solid var(--Grey-500);
	list-style: none;
}

	.services_item:last-child {
		border: none;
	}

.services_item_title_wrapper {
	display: flex;
	gap: 4rem;
	align-items: flex-start;
	align-self: stretch;
}

/* ----------- OUTRO */

#outro {
	position: relative;
	background: none;
	z-index: 4;
}

.outro-paragraph {
	grid-column: 1 / 13;
	text-align: center;
	margin-bottom: 1rem;
}

/* ----------- OUTRO SMALL */

#outro-sm{
	position: relative;
	overflow: hidden;
	padding: 9rem 1.5rem 9rem 1.5rem;
	background:none;

	.contain-wrap{
		row-gap: 1.5rem;
	}

	h2{
		grid-column: 1 / span 8;
		grid-row: 1;
		position: relative;
		z-index: 10;
	}

	p{
		grid-column: 1 / span 8;
		grid-row: 2;
		position: relative;
		z-index: 10;
	}
}

/* ----------- FOOTER */

footer {
	position: relative;
	z-index: 50;
	padding: 2.5rem 1.5rem 2rem 1.5rem;

	h4{
		margin-bottom: .5rem;
	}

	a{
		text-decoration: none;
	}

	.btn-action{
		margin-bottom: .5rem;
	}

	.contain-wrap{
		row-gap: 2.5rem;
	}
}

.headquarter {
	display: grid;
	grid-column: 7 / span 3;
}

.reach-us {
	display: grid;
	justify-items: start;
	grid-column: 10 / span 3;
}

.footer-bottom {
	display: flex;
    grid-row: 3;
    grid-column: 1 / span 12;
    justify-content: space-between;
    align-items: center;

	padding-top: 2rem;
	border-top: 1px solid var(--Grey-500);

	a{
		text-decoration: underline;
		color: var(--Grey-700);
	}

	.btn-action{
		margin: 0;
	}
}

.sub-link:hover{
	color: var(--Grey-800);
}

.footer-bottom-wrapper{
	display: flex;
	align-items: center;
	grid-column: 1 / span 4;
	gap: 1rem;
}

@media screen and (max-width: 1080px) {

	/* ----------- HERO */

	.sec-hero-content-wrapper{
		grid-column: 2 / span 8;
	}

	.ma-partner-alliance{
		grid-column: 2 / span 2;
	}
	
	/* ----------- OUTRO SMALL */

	#outro-sm{

		h2{
			grid-column: 1 / span 12;
		}

		p{
			grid-column: 1 / span 12;
		}
	}
	

	.footer-logo {
		grid-column: span 2;
	}

	.back-to-top {
		justify-items: start;
		grid-row: 5;
		grid-column: span 2;
	}
}



@media screen and (max-width: 760px) {


	/* ----------- HERO */

	.sec-hero-content-wrapper{
		grid-column: 1 / span 6;
	}

	.ma-partner-alliance{
		grid-column: 1 / span 2;
	}

	/* ----------- STRUCTURE */

	main {
		position: relative;
		padding: 1rem;
		padding-bottom: 2rem;
	}

	footer{
		padding: 2.5rem 1rem 2rem 1rem;
	}

	.hero-bottom {
		bottom: 1rem;
		left: 1rem;
		right: 1rem;
	}

	.hero-button {
		padding: 1rem;
	}

	.site-grid {
		grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
		gap: 1rem;
	}

	/* ----------- HERO */

	.hero-message {
		flex-direction: column;
		z-index: 1;
		gap: 2.75rem;
	}

	.hero-text-left {
		width: 100%;
	}

	.hero-text-right {
		width: 100%;
	}

	.cta-mid {
		display: flex;
		height: auto;
		flex-direction: column;
		justify-content: space-between;
	}

	.cta-mid-content {
		margin: 0;
		flex-direction: column;
	}

	.cta-mid-contacts {
		width: 100%;
	}

	.cta-address-right {
		gap: 0;
	}

	.cta-contact-mail {
		width: 100%;
	}

	.cta-email-right {
		gap: 0;
	}

	.cta-email-left {
		gap: 0;
	}

	/* ----------- MOODYS */

	.services {
		grid-column: 2/7;
	}

	.services_item {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.services_item_title_wrapper {
		flex-direction: column;
		gap: 2rem;
	}

	/* ----------- PROCESS */

	.outer-box {
		grid-column: span 4;
		height: 40vh;
	}

	.process-grid {
		display: flex;
		flex-direction: column-reverse;
	}

	.svg {
		width: 400px;
	}


	/* ----------- OUTRO */
	#outro {
		padding: 0;
	}

	/* ----------- OUTRO SMALL */

	#outro-sm{

		gap: 1.5rem;

		h2{
			grid-column: 1 / span 6;
			grid-row: 1;
		}

		p{
			grid-column: 1 / span 6;
			grid-row: 2;
		}
	}

	/* ----------- FOOTER */

	.footer-bottom{
		flex-direction: column;
		align-items: flex-start;
		gap: 3rem;

		grid-column: 1 / span 6;
	}
	.headquarter{
		grid-row: 2;
		grid-column: 1 / span 3;
	}
	.reach-us{
		grid-row: 2;
		grid-column: 4 / span 3;
	}
}


@media screen and (max-width: 460px) {

		/* ----------- HERO */

		.sec-hero-content-wrapper{
			grid-column: 1 / span 4;
		}

	.site-grid {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
	}

	.contact-wrapper {
		flex-direction: column;
		gap: 1rem;
	}

	.cta-contact-info {
		height: auto;
	}

	.cta-copy {
		text-align: left;
	}

	.call-to-action {
		padding: 1rem;
	}

	.cta-contact-info {
		padding: 1rem 0 1rem 0;
	}

	.section-title {
		grid-column: span 4;
	}

	/* ----------- MOODYS */

	.services {
		grid-column: span 4;
	}

	/* ----------- PROCESS */

	.process-list {
		grid-column: span 4;
	}

	.svg {
		width: 300px;
	}

		/* ----------- OUTRO SMALL */

		#outro-sm{

			gap: 1.5rem;
	
			h2{
				grid-column: 1 / span 4;
				grid-row: 1;
			}
	
			p{
				grid-column: 1 / span 4;
				grid-row: 2;
			}
		}

	/* ----------- FOOTER */

		.footer-bottom-wrapper{
			flex-direction: column;
			align-items: flex-start;
		}

			/* ----------- FOOTER */

		.footer-bottom{
			grid-row: 4;
			grid-column: 1 / span 4;
		}
		.headquarter{
			grid-row: 2;
			grid-column: 1 / span 4;
		}
		.reach-us{
			grid-row: 3;
			grid-column: 1 / span 4;
		}
}


/* ----------- Approach */

.section-content .approach-section .approach {
	display: grid;
	place-self: stretch;
	grid-template-columns: repeat(6, 1fr);
	padding: 24px 0px 40px 0px;
	border-bottom: 1px solid var(--default-palette-default-gray-200, #E2DFDC);
}

	.section-content .approach-section .approach .approach-title {
		display: grid;
		grid-column: 1 / span 2;
	}

	.section-content .approach-section .approach .approach-description {
		display: grid;
		grid-column: 3 / span 4;
		font-size: 16px;
	}

@media screen and (max-width: 1080px) {
	.section-content .approach-section .approach {
		display: grid;
		place-self: stretch;
		grid-template-columns: 1fr;
		padding: 24px 0px;
		grid-gap: 24px;
	}

		.section-content .approach-section .approach .approach-title {
			grid-column: 1;
		}

		.section-content .approach-section .approach .approach-description {
			grid-column: 1;
		}
}

/* Animation */
.section-content .outer-box {
	position: relative;
	align-content: center;
}

.inner-svg {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.svg-c-dot-layer, .svg-text-wrapper2, .svg-text-wrapper3 {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg-wrapper1 {
	position: absolute;
	width: fit-content;
	scale: 1;
	transition: scale .3s ease;
}

.svg-wrapper2, .svg-wrapper3 {
	position: absolute;
	width: fit-content;
	opacity: 0;
	transition: opacity .3s ease;
}


/* --------- Button Action*/

.btn-action {
	color: var(--craft-Red);
	font-family: "IBM Plex Mono";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 100% */
	letter-spacing: 0.32px;
	text-transform: uppercase;

	a{
		color: var(--craft-Red);
		text-decoration: none;
	}
}

/* Get intouch */
#get-in-touch {
	justify-content: end;
}
