
.container-wrap .section-subtitle {
	position: sticky;
	z-index: 5;
	top: var(--sticky-container-wrap-top);
	background-color: var(--Grey-200);
}

.container-wrap:nth-child(1) {
	padding-top: 5rem;
}

.container-wrap {
	position: relative;
	z-index: 4;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 80px 0;
}

.chapter {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	color: var(--Grey-700);
}

	.chapter p:not(.section-title) {
		color: #FF4135;
		font-family: "IBM Plex Mono";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
	}

.section-start {
	color: #FF4135;
	display: grid;
	grid-column: 1;
}

.section-name {
	color: #FF4135;
	display: grid;
	grid-column: 2 / span 2;
	text-transform: uppercase;

	font-family: "IBM Plex Mono";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 2; /* 200% */
}

.section-title {
	display: grid;
	grid-column: 5 / span 6;
	color: var(--default-palette-default-gray-900, #1F1C1A);
}

.section-number {
	color: #FF4135;
	display: grid;
	grid-column: 12;
}

.section-content {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

	.section-content .left-content {
		grid-column: 2 / span 2;
		display: grid;
	}

	.section-content .right-content {
		display: grid;
		grid-column: 5 / span 6;
	}

	.section-content .bottom-content {
		display: grid;
		grid-auto-flow: row;
		grid-column: 1 / span 6;
		grid-gap: 24px;
		align-self: end;
	}

		.section-content .bottom-content .section-title {
			display: grid;
			grid-column: 1 / span 6;
		}

		.section-content .bottom-content .hero-links {
			display: grid;
			grid-column: 1 / span 6;
		}



@media screen and (max-width: 1080px) {

	.container-wrap {
		row-gap: 40px;
	}
	/* chapter */
	.chapter {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto 1fr;
	}

	.section-name {
		justify-self: end;
		grid-row: 1;
		grid-column: 2;
	}

	.section-title {
		grid-row: 3;
		grid-column: 1 / span 2;
	}

	.section-number {
		justify-self: end;
		grid-row: 2;
		grid-column: 2;
	}

	/* section content*/
	.section-content {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}

		.section-content .left-content,
		.section-content .right-content,
		.section-content .bottom-content {
			grid-column: 2 / span 6;
			display: grid;
		}

		.section-content .bottom-content {
			display: grid;
			grid-auto-flow: row;
			grid-gap: 24px;
			align-self: end;
		}

			.section-content .bottom-content .section-title {
				display: grid;
				grid-column: 1;
				grid-row: 1;
			}

			.section-content .bottom-content .hero-links {
				display: grid;
				grid-column: 1;
			}

			.outer-box{
					min-height: 40vh;
			}
}

@media screen and (max-width: 760px) {
	.section-title {
		font-size: 32px;
	}
}