
/* Animations */
.section-animated main-content.from-bottom{
    position: relative;
    top: 500%;
    -webkit-animation: show-from-bottom 1s ease forwards;
    -o-animation: show-from-bottom 1s ease forwards;
    animation: show-from-bottom 1s ease forwards;
}

@keyframes show-from-bottom {
    to {
        top: 0;
    }
}

.section-animated .from-bottom-opacity{
    position: relative;
    opacity: 0;
    top: 500%;
    -webkit-animation: show-from-bottom-opacity 2s ease 0.5s forwards;
    -o-animation: show-from-bottom-opacity 2s ease 0.5s forwards;
    animation: show-from-bottom-opacity 2s ease 0.5s forwards;
}

@keyframes show-from-bottom-opacity {
    75%{
        top: 0;
        opacity: 0.5;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.section-animated .from-right{
    position: relative;
    -webkit-animation: show-from-right 2s ease forwards;
    -o-animation: show-from-right 2s ease forwards;
    animation: show-from-right 2s ease forwards;
}

@keyframes show-from-right {
    from {
        left: 100%;
        opacity: 0.2;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.section-animated .from-left{
    position: relative;
    -webkit-animation: show-from-left 2s ease forwards;
    -o-animation: show-from-left 2s ease  forwards;
    animation: show-from-left 2s ease forwards;
}

@keyframes show-from-left {
    from {
        left: -100%;
        opacity: 0.2;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.section-animated .from-top{
    -webkit-animation: show-from-top 3s ease forwards;
    -o-animation: show-from-top 3s ease  forwards;
    animation: show-from-top 3s ease forwards;
}

@keyframes show-from-top {
    from {
        top: -100%;
        opacity: 0.2;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.section-animated .from-bottom{
    -webkit-animation: show-from-bottom 3s ease forwards;
    -o-animation: show-from-bottom 3s ease  forwards;
    animation: show-from-bottom 3s ease forwards;
}

@keyframes show-from-bottom {
    from {
        top: 100%;
        opacity: 0.2;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.section-animated .find-out-animated{
    opacity: 0;
    -webkit-animation: show-button 2s ease forwards;
    -o-animation: show-button 2s ease forwards;
    animation: show-button 2s ease forwards;
}

@keyframes show-button {
    to {
        opacity: 1;
    }
}

/* background */
.back-color-effect {position: relative; color: white}
.section-animated .back-color-effect .back-color{
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: black;
    width: 0;
    opacity: 0;
    -webkit-animation: underlineEffet 1.5s ease-in-out 0.25s forwards;
    -o-animation: underlineEffet 1.5s ease-in-out 0.25s forwards;
    animation: underlineEffet 1.5s ease-in-out 0.25s forwards;
}

@keyframes underlineEffet {
    to { width: 100%;
        opacity: 1; }
}

/*highlight*/
strong {
    position: relative;
}

.backBlack::before{
    background-color: black;
}

.backBlue::before{
    background-color: #0028A1;
}

strong.highlight::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 90%;
    left: -5px;
    width: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.section-animated strong.highlight::before{
    width: 115%;
    transition: all 1.5s ease 1s;
}
